{
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2
            }
        ]
    ],
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ],
    ]
}